@charset "UTF-8"; 
/* CSS Document */  
 
h1 { 
    font-family: 'Courier New', Courier, monospace;  
    padding: 10px;  
    color:lightseagreen; 
    font-weight: bold;

}   

body{ 
    background-color: honeydew;
}



h2 { 
    font-family:'Courier New', Courier, monospace;  
    font-size: 32px;  
    color:lightseagreen;
    text-align: center; 
    padding: 10px; 
}    

.container { 
    padding-left: 2px;
    padding-top: 2px;
}

.col-lg-3 { 
    padding-bottom: 2px;
}

.card{ 
    background-color: rgb(255, 250, 226); 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
} 

.img{ 
   padding-top: 20px; 
}

.footer-tb{ 
    text-align: center;
} 
